@using zcc_tickets.Models
@model Root

@{
    ViewData["Title"] = "Tickets";
}
<h1>@ViewData["Title"]</h1>

<p>Here are your tickets listed below: </p>

@foreach (var ticket in Model.tickets)
{
    <div>
        <h3>@ticket.subject</h3>
        <h4>@ticket.id</h4>

        <p>@ticket.description</p>
    </div>
}

@if (Model.meta.has_more)
{
    <div>
        <a asp-controller="Tickets" asp-action="TicketsNext">Next</a>
    </div>  
}

@if(Model.tickets[0].id != 1 )
{
    <div>
        <a asp-controller="Tickets" asp-action="TicketsPrev">Prev</a>
    </div>
}
