@using zcc_tickets.Models
@model List<Ticket>

@{
    ViewData["Title"] = "Tickets";
}
<h1>@ViewData["Title"]</h1>

<p>Here are your tickets listed below: </p>

@foreach (var ticket in Model)
{
    <div>
        <h3>@ticket.subject</h3>

        <p>@ticket.description</p>
    </div>
}
