@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Zendesk Ticket Viewer</h1>
    <p>Click tickets below:</p>

    <button class="btn-outline-primary btn-lg"><a class="text-decoration-none" asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a></button>
</div>
